@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --button-background-color: #4d5ae5;
  --button-color: #ffffff;
  --text-of-solutions-color: white;
  --background-of-solutions-color: #2e2f42;
  --contacts-hover-color: #404bbf;
  --contacts-color: #434455;
  --navigations-links-hover-color: #404bbf;
  --navigations-links-color: #2e2f42;
  --logo-in-header-color: #4d5ae5;
  --background-order-service-button-hover-color: #404bbf;
  --list-of-features-color: #434455;
  --heading-features-color: #2e2f42;
  --heading-color: #2e2f42;
  --background-team-color: #ffffff;
  --background-team-hover-color: #ffffff;
  --name-and-role-color: #2e2f42;
  --footer-color: #2e2f42;
  --logo-in-footer-color: #4d5ae5;
  --text-in-footer-color: #e7e9fc;
  --logo-two-part-in-header-color: black;
  --logo-two-part-in-footer-color: #f4f4fd;
  --focus-on-icon:#31D0AA;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 396px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
}
@media screen and (min-width:480px) and (max-width:428px) {
 .container{
    width: 396px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 16px;
 }
}
@media screen and (min-width:768px) {
  .container {
    width: 736px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 16px;
  }
}
@media screen and (min-width:1200px) {
  .container{
     
      width: 1158px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 15px;
       
  }

}

header {
  display: flex;
}
.portfolio{
  border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav {
  display: flex;
  align-items: center;
}
.logo-in-header {
  color: var(--logo-in-header-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.list-in-header {
 /* display: flex;
  align-content: center;
  list-style-type: none;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 76px;
  gap: 40px;
  */
 display: none;
}
@media screen and (min-width:768px) {
  .list-in-header{
      display: flex;
      align-content: center;
      list-style-type: none;
      padding: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin-left: 76px;
      gap: 40px;
  }
}
.navigation {
  display: flex;
}
.navigations-links {
  color: var(--navigations-links-color);
  text-decoration: none;
  padding: 24px 0px;
  display: block; 
  position: relative;
}
.navigations-links:hover,
.navigations-links:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--navigations-links-hover-color);
  text-decoration: none;
}
.navigations-links.current::after{
  content: '';

  background: #404BBF;
  border-radius: 2px;
  width: 100%;
  height: 4px;

  position: relative;
  top: 24px;
  display: block;
}
.navigations-links.current-portfolio::after {
  content: '';

  background: #404BBF;
  border-radius: 2px;
  border-bottom: -1px;
  width: 100%;
  height: 4px;
  
  position: relative;
  top: 24px;
  display: block;
}
.contacts {
 /* display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 24px 0px;
  gap: 40px;
  margin-left: auto;
  */
 display: none;
}
@media screen and (min-width:768px) {
  .contacts{
    display: block;
    list-style-type: none;
    padding: 24px 0px;
    gap: 40px;
    margin-left: auto;
  }
}
@media screen and (min-width:1200px) {
  .contacts{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 24px 0px;
    gap: 40px;
    margin-left: auto;
  }
}
.contacts-style {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  text-decoration: none;
}

.contacts-style:hover,
.contacts-style:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--contacts-hover-color);
}
.effective-solutions {
  /* background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0px;
  color: var(--text-of-solutions-color);
  text-align: center;
  */
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0px;
  color: var(--text-of-solutions-color);
  text-align: center;
}

.text-of-effective-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.order-service-button {
  background: var(--button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  left: 20px;
  top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-color);
  cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
  padding: 16px 32px;
  left: 20px;
  top: 88px;
  background-color: var(--background-order-service-button-hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.features {
  padding: 96px 0px ;
}
@media screen and (min-width:768px) {
  .features{
    padding: 96px 0px;
  }
}
@media screen and (min-width:1200px) {
  .features{
    padding: 120px 0px;
  }
}
.list-of-features {
  list-style-type: none;
  display: block;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--list-of-features-color);
}
@media screen and (min-width:769px){
  .list-of-features{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width:1200px)  {
  .list-of-features{
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    
  }
}
.content-in-list-features {
  width: 396px;
  height: 48px;

  margin-bottom: 72px;
}
@media screen and (min-width:1200px) {
  .content-in-list-features{
    width: 264px;
    height: 72px;
  }
}
.heading-features {
  color: var(--heading-features-color);

  margin-bottom: 8px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40/36);

  text-align: center;

  letter-spacing: 0.02em;
}
@media screen and (min-width:768px) {
  .heading-features{

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: start;
  }
}
.heading {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--heading-color);
  margin-bottom: 72px;
  margin-top: 0;
}
.examples {
  display: none;
}
.examples-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  padding: 0;
}
.section-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--logo-two-part-in-footer-color);
}
@media screen and (min-width:1200px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--logo-two-part-in-footer-color);
  }
}
.team {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:72px;
}
@media screen and (min-width:768px) {
  .team{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width:1200px) {
  .team{
    list-style-type: none;
    display: flex;
    gap: 24px;
  }
}
.worker {
  background: var(--background-team-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.name-job {
  padding: 32px 16px 32px 16px;
}
.social-icons-worker{
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}
.names-product {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}
.name {
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: var(--name-and-role-color);
}

.role {
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--name-and-role-color);
}

.footer {
  background: var(--footer-color);
  padding: 96px 0px;
  
}
@media screen and (min-width:1200px) {
  .footer{
    background: var(--footer-color);
    padding: 100px 0px;
  }
}
.logo-footer {
  /* font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-in-footer-color);
  */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-in-footer-color);
}
@media screen and (min-width:768px) {
  .logo-footer{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--logo-in-footer-color);
    justify-content: flex-start;
  }
}
.text-in-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  width: 264px;
  color: var(--text-in-footer-color);
}

.logo-two-part-in-header {
  color: var(--logo-two-part-in-header-color);
}

.logo-two-part-in-footer {
  color: var(--logo-two-part-in-footer-color);
}
.filter {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  padding: 0;
  gap: 24px;
}
.img-in-portfolio postition {
  display: block;
  position: absolute;
}
.content-in-category-in-portfolio-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  gap: 48px 24px;
}
.names-portfolio {
  
  padding: 32px 16px;
  border-bottom: 1px solid var(--logo-two-part-in-footer-color);
  border-left: 1px solid var(--logo-two-part-in-footer-color);
  border-right: 1px solid var(--logo-two-part-in-footer-color);
}
.content-in-filter-all {
  cursor: pointer;
  width: 69px;
  height: 48px;
  border: 1px solid var(--text-in-footer-color);
  background: var(--logo-two-part-in-footer-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-background-color);
  padding: 0;
}
.content-in-filter-all:hover,
.content-in-filter-all:focus {
  color: var(--button-color);
  background-color: var(--contacts-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #404BBF;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.content-in-filter-web-site {
  width: 116px;
  height: 48px;
  background: var(--logo-two-part-in-footer-color);
  border: 1px solid var(--text-in-footer-color);
  border-radius: 4px;
  color: var(--button-background-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 0;
  cursor: pointer;
}
.content-in-filter-web-site:hover,
.content-in-filter-web-site:focus {
  color: var(--button-color);
  background: var(--contacts-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #404BBF;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-in-filter-app {
  width: 78px;
  height: 48px;
  background: var(--logo-two-part-in-footer-color);
  border: 1px solid var(--text-in-footer-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--button-background-color);
  padding: 0;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.content-in-filter-app:hover {
  color: var(--button-color);
  background: var(--contacts-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #404BBF;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-in-filter-design {
  width: 101px;
  height: 48px;
  background: var(--logo-two-part-in-footer-color);
  border: 1px solid var(--text-in-footer-color);
  border-radius: 4px;
  color: var(--button-background-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 0;
}
.content-in-filter-design:hover,
.content-in-filter-design:focus {
  background: var(--contacts-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #404BBF;
  border-radius: 4px;
  color: var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-in-filter-marketing {
  width: 126px;
  height: 48px;
  background: var(--logo-two-part-in-footer-color);
  border: 1px solid var(--text-in-footer-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-background-color);
  cursor: pointer;
  padding: 0;
}
.content-in-filter-marketing:hover,
.content-in-filter-marketing:focus {
  background: var(--contacts-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #404BBF;
  border-radius: 4px;
  color: var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.category-in-portfolio {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}
.content-in-category-in-portfolio {
  width: 360px;
}
.content-in-category-in-portfolio-link {
  width: 360px;
  text-decoration: none;
  color: var(--background-of-solutions-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background: var(--background-team-color);
}

.content-in-category-in-portfolio-link:hover,
.content-in-category-in-portfolio-link:focus{
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-in-category-in-portfolio-link:hover .overlay-in-card,  
.content-in-category-in-portfolio-link:focus .overlay-in-card{
  transform: translateY(-100%);
  transition: transform 600ms;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.content-color {

  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24/16);
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  margin-top: 8px;
}
.all-in-portfolio {
  padding: 96px 0px 120px 0px;
}
.customers-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
}
@media screen and (min-width:768px) {
  .customers-icon{
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      list-style-type: none;
  }
}
@media screen and (min-width:1200px) {
  .customers-icon{
    display: flex;
    list-style-type: none;
    gap: 24px;
  }
}
.customers{
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width:768px) {
  .customers{
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width:1200px) {
  .customers{
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.icons{
  padding: 16px 32px;
  fill: currentColor;
}
.customers-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  color: #8E8F99;
}
.customers-link:hover,
.customers-link:focus{
  color: #404BBF;
  border: 1px solid #404BBF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-in-hero{
 display: none;
}
@media screen and (min-width:1200px) {
  .icons-in-hero{
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
  }
}
.icon-link{
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--logo-two-part-in-footer-color);
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.icon-link:hover,
.icon-link:focus{
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404BBF;
}
.social-icons{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}
.icon-link-in-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--logo-two-part-in-footer-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.icon-link-in-footer:hover,
.icon-link-in-footer:focus{
  background-color: var(--focus-on-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer{
  display: flex;
  list-style-type: none;
  gap: 24px;
}
.div-footer{
  display: flex;
}
.social-media{
 /* color:var(--background-team-color);
  margin-bottom:16px ;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height:calc(24/16);
  letter-spacing: 0.02em;
  */
  color: var(--background-team-color);
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16);
  letter-spacing: 0.02em;
}
@media screen and (min-width:768px) {
  .social-media{
    text-align: start;
  }
}
@media screen and (min-width:1200px) {
  .social-media{
    color: var(--background-team-color);
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
  }
}
.list-icon-footer{
  display: block;
}
@media screen and (min-width:768px) {
  .list-icon-footer{
    margin-left: 120px;
  }
}
.footer-position{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 72px;
}
@media screen and (min-width:768px) {
  .footer-position{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width:1200px) {
  .footer-position{
    flex-wrap: nowrap;
    gap: 0;
  }
}
.backdrop {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
}
.modal {
  position: absolute;
  top:50%;
  left:50%;

  padding: 48px 24px 24px 24px;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;

  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 150ms ease 50ms, opacity 150ms ease 50ms;

}
.modal-title {
  display: block;

  text-align: center;

  margin-bottom: 14px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16);


  letter-spacing: 0.02em;

  color: #2E2F42;
}
.modal-form-label {
  display: block;

  margin-bottom: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16/12);

  letter-spacing: 0.04em;

  color: #8E8F99;
}
.modal-form-group {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-field {
  display: block;

  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: 1px solid rgba(33, 33, 33, 0.2);;
  outline-offset: -1px;

  transition: outline-color 250ms;
}
.modal-form-field:focus,
.modal-form-field:focus-visible {
  outline-color:#4D5AE5;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;

  transition: fill 250ms;
}
.modal-form-field:focus+.modal-form-icon {
  fill: #4D5AE5;
}
.modal-form-comment {
  display: block;

  width: 100%;
  height: 150px;

  padding: 8px 16px;
  margin-bottom:16px;

  font-size: 13px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  outline: 1px solid rgba(33, 33, 33, 0.2);
  outline-offset: -1px;

  transition: outline-color 250ms;
  resize: none;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16/12);

  letter-spacing: 0.04em;
}
.modal-form-comment:focus,
.modal-form-comment:focus-visible {
  outline-color: #4D5AE5;
}
.modal-form-agreement {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.modal-form-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16/12);

  letter-spacing: 0.04em;

  color: #757575;
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -70%) ;
  opacity: 0;
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  padding: 0;
}
.modal-btn:active{
  background: #404BBF;
  fill: #F4F4FD;
}
.modal-form-btn {
  display: block;

  margin-left: auto;
  margin-right: auto;

  width: 169px;
  height: 56px;

  cursor: pointer;
  
  background-color: #4D5AE5;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: #FFFFFF;


  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-form-checkbox{
  margin-right: 8px;
  appearance: none;
}
.modal-form-checkbox:checked {
  background-color: #404BBF;
  border: #404BBF;
}
.custom-checkbox {
  margin-right: 8px;
}
.custom-chekbox-frame {
  fill: transparent;
}
.modal-form-checkbox:checked + .custom-checkbox > .custom-chekbox-frame{
  fill: #404BBF;
}
.custom-chekbox-chek {
  fill: #FFFFFF;
  opacity: 0;
}
.modal-form-checkbox:checked + .custom-checkbox > .custom-chekbox-chek{
  opacity: 1;
}
.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.container-card-and-overlay{
  position: relative;
  overflow: hidden;
}
.overlay-in-card{
  position: absolute;
  
  background-color: #4D5AE5;
  width: 360px;
  height: 300px;

  padding: 40px 32px 164px 32px;

  transform: translateY(0%);
  transition: transform 600ms;
}
.txt-in-overlay{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24/16);

  letter-spacing: 0.02em;

  color: #F4F4FD;
}
.group-in-footer{
  /* margin-left: 80px; */
}
@media screen and (min-width:768px) {
  .group-in-footer{
    margin-right: 120px;
  }
}
@media screen and (min-width:1200px) {
  .group-in-footer{
    margin-left: 80px;
    margin-right: 0;
  }
}
.form-in-footer{
  /*width: 264px;
  height: 40px;

  background-color: #2E2F42;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  padding-left: 16px;
  

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24/12);

  display: flex;

  letter-spacing: 0.04em;
  
  color: rgba(255, 255, 255, 0.6);

  outline: 1px solid rgba(255, 255, 255, 0.3);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-offset: -1px;
  */
  width: 360px;
  height: 40px;

  background-color: #2E2F42;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  padding-left: 16px;


  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24/12);

  display: flex;

  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);

  outline: 1px solid rgba(255, 255, 255, 0.3);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-offset: -1px;
}
@media screen and (min-width:768px) {
  .form-in-footer{
    width: 264px;
    height: 40px;
    
    background-color: #2E2F42;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    
    padding-left: 16px;
    
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24/12);
    
    display: flex;
    
    letter-spacing: 0.04em;
    
    color: rgba(255, 255, 255, 0.6);
    
    outline: 1px solid rgba(255, 255, 255, 0.3);
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline-offset: -1px;
  }
}
.form-in-footer:focus,
.form-in-footer:focus-visible{
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 1px solid #31D0AA;
}

.title-of-form-in-footer{
  /*margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16);

  
  letter-spacing: 0.02em;

  color: #FFFFFF;
  */
  margin-bottom: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16);


  letter-spacing: 0.02em;

  color: #FFFFFF;
}
@media screen and (min-width:768px) {
  .title-of-form-in-footer{
    text-align: start;
  }
}
.container-form-footer{
 /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 453px;
  height: 80px;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 453px;
}
@media screen and (min-width:768px) {
  .container-form-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    width: 453px  ;
  }
}
.btn-in-footer{
 /* display: flex;

  flex-direction: row;
  
  justify-content: center;
  align-items: center;
  
  width: 165px;
  height: 40px;

  gap: 16px;

  background: #4D5AE5;
  border-radius: 4px;
  border-color:#4D5AE5 ;

  color: #FFFFFF;

  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  line-height: calc(24/16);

  cursor: pointer;
  margin-left: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  */
  display: flex;

  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 165px;
  height: 40px;

  gap: 16px;
  margin-top: 16px;

  background: #4D5AE5;
  border-radius: 4px;
  border-color: #4D5AE5;

  color: #FFFFFF;

  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  line-height: calc(24/16);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width:768px) {
  .btn-in-footer{
    display: flex;
    
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    
    width: 165px;
    height: 40px;
    
    gap: 16px;
    margin-top: 0;
    
    background: #4D5AE5;
    border-radius: 4px;
    border-color: #4D5AE5;
    
    color: #FFFFFF;
    
    border: none;
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
    line-height: calc(24/16);
    
    cursor: pointer;
    margin-left: 24px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.btn-in-footer:hover,
.btn-in-footer:focus{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404BBF;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 210px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 428px;
  height: 796px;
  padding: 32px;
  background: #FFFFFF;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width:768px) {
  .menu-container{
    display: none;
  }
}
.mobile-contacts{
  list-style-type: none;
  margin-top: 284px;
}
.number-in-menu{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40/36);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 40px;
  color: #434455;
}
.email-in-menu{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24/20);
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #000;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40/36);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  text-decoration: none;
}
.link:hover,
.link:focus{
  color: #404BBF;
}
.icons-mobile{
  display: flex;
  margin-top: 48px;
  list-style-type: none;
  gap: 56px;
}
.icon-link-in-mobile{
  fill: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  padding: 0;
}
.link-contacts:hover,
.link-contacts:focus{
  color: #4D5AE5;
}